In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2020-12-03 15:16:09,3.07,172.79,80.76,82,20,13.38
1,1,Longyearbyen,SJ,2020-12-03 15:15:39,78.22,15.64,19.40,67,75,26.40
2,2,Rochegda,RU,2020-12-03 15:17:13,62.80,43.25,21.90,97,86,7.34
3,3,Tiznit,MA,2020-12-03 15:17:14,29.58,-9.50,63.90,52,27,10.71
4,4,Malakal,SS,2020-12-03 15:16:52,9.53,31.66,92.70,16,0,4.21
5,5,Mataura,NZ,2020-12-03 15:16:00,-46.19,168.86,52.00,74,92,8.99
6,6,Arraial Do Cabo,BR,2020-12-03 15:16:11,-22.97,-42.03,87.80,66,40,12.75
7,7,Tessalit,ML,2020-12-03 15:16:06,20.20,1.01,93.38,11,0,6.91
8,8,New Norfolk,AU,2020-12-03 15:16:09,-42.78,147.06,54.00,66,89,5.01
9,9,Bredasdorp,ZA,2020-12-03 15:16:08,-34.53,20.04,71.60,53,0,12.75

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds =city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [28]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2020-12-03 15:16:09,3.07,172.79,80.76,82,20,13.38
6,6,Arraial Do Cabo,BR,2020-12-03 15:16:11,-22.97,-42.03,87.80,66,40,12.75
14,14,Georgetown,MY,2020-12-03 15:15:57,5.41,100.34,78.80,88,40,6.93
15,15,Hithadhoo,MV,2020-12-03 15:16:07,-0.60,73.08,83.14,76,37,19.22
21,21,Saldanha,ZA,2020-12-03 15:16:13,-33.01,17.94,77.00,31,0,26.40
29,29,Bengkulu,ID,2020-12-03 15:16:27,-3.80,102.27,77.07,79,99,5.06
30,30,Morant Bay,JM,2020-12-03 15:16:58,17.88,-76.41,80.01,83,40,10.29
31,31,Nicoya,CR,2020-12-03 15:15:02,10.15,-85.45,78.80,78,75,3.36
33,33,Sao Joao Da Barra,BR,2020-12-03 15:12:30,-21.64,-41.05,84.20,66,20,9.17
35,35,Port Blair,IN,2020-12-03 15:15:18,11.67,92.75,81.09,80,58,6.89

In [29]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [34]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp    Lat     Lng Hotel Name
0          Butaritari      KI     80.76   3.07  172.79
6     Arraial Do Cabo      BR     87.80 -22.97  -42.03
14         Georgetown      MY     78.80   5.41  100.34
15          Hithadhoo      MV     83.14  -0.60   73.08
21           Saldanha      ZA     77.00 -33.01   17.94
29           Bengkulu      ID     77.07  -3.80  102.27
30         Morant Bay      JM     80.01  17.88  -76.41
31             Nicoya      CR     78.80  10.15  -85.45
33  Sao Joao Da Barra      BR     84.20 -21.64  -41.05
35         Port Blair      IN     81.09  11.67   92.75

In [36]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [42]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [48]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [47]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]